.about-page{
    
  $text-color: #a6a4a2;
  $purple: #A993CB;
  $dark-gray: #6c6763;
  
  font-family: 'Raleway', sans-serif;
  background-color: white;
  
    img{
        width: 25%;
    }
    
    .layout-about__intro{   
    
        align-self: center;
        margin: 0 auto;
        max-width: 36rem;
        text-align: center;
        padding-top: 100px;
    
    }
    
    .title{
        color: $purple;
    }
    
    .subtitle{
        color: $dark-gray;
    }
    
    section{
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 20px;
        color: $dark-gray;
        
        img{
            float: right;
            width: 20%;
            
        }
    }
    
    
    
}