.gift-body-container{

  $text-color: #a6a4a2;
  $purple: #A993CB;
  $dark-gray: #6c6763;
  
  padding-bottom: 20px;
.filter-component{
  
  .btn-group{
    padding: 0;
    border: none;
    color: $dark-gray;
  } 
  
  .filter-by{
  padding: 12px;
  }
  
  .btn-by-price{
    border-style: none;
    color: $text-color;
  }
  
}

.account-gift-body{
  
    display: inline-block;
    margin: auto;


  .gift-item{
    max-width: 270px;
    max-height: 390px;
    padding-top: 20px;
    margin: 20px;
    float:left;
  }


.add-gift-btn-plus{
  
  $text-color: #a6a4a2;
  $purple: #A993CB;
  $dark-gray: #6c6763;
  
  // width: 150px;
  // height: 150px;
  background-color: $text-color;
  border-radius: 2%;
  max-width: 270px;
  max-height: 390px;
  
  .btn-round{
    text-align: center;
    padding-top: 80px;
    padding-left: 110px;
  }
  
  .btn-plus-icon{
    
    display: block;
    width: 50px;
    height: 50px;
    line-height: 42px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color: ghostWhite;
    text-align: center;
    text-decoration: none;
    background: $text-color;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
    
  }

  .add-a-gift{
    color: ghostWhite;
    font-size: 16px;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  
  
}


}

}