@import '~bootstrap/scss/bootstrap.scss';

.card-component{

  
.card-body{
  line-height: 40px;
  height: 40px;
}

#button-click{
  float: right;
  padding-bottom: 10px;
}

.card-title{
  float: left;
  padding-top: 10px;
}
}
