<<<<<<< HEAD:src/styles/EditAccount.scss
.EditAccount{
=======
.Account{
    background-color: #EDE7F6;
    
>>>>>>> d2df3c63ec93ef34fa087c05d843d4d3e110c680:src/styles/Account.scss
    .sidenav {
    height: calc(100% - 72px);
    width: 300px;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #F4F6F6;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #b993d6;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #a6a4a2;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
    
}