@import '~bootstrap/scss/bootstrap.scss';

.events{
    border: 0.5px solid lightgray;
    border-radius: 5%;
    
#event-person-icon{
        width: 35px;
        border-radius: 50%;
    }
    
.row{
    padding: 5px;
    text-align: center;
}   


.name-of-person{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin: auto;

}    

.event-name{
    font-style: cursive;
    font-size: 15px;
    padding-top: 2px;
    margin: auto;
}
}