.find-friends{
    
.conteinercenter{
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    padding: 20px;
}

.conteinerleft{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: grey;
}

}