
.footer{
    background-color: #F8F8FF;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    // margin-top: -50px;
    
.nav-link{
    color: #6c6763 !important;
    font-family: 'Raleway', sans-serif, bold 700;
}    
    

    // top: 0;
    // height: 50px;
    // margin-top: -50px;
 
#copyrights-footer{
   list-style-type: none;
}
ul.secondary-navbar-nav{
    padding-bottom: 20px;
}
.secondary-navbar-nav{
    margin: auto;
    float: right;
    height: calc(100% - 72px - 590px); 
}
} 