.header-account{
    
    $text-color: #a6a4a2;
    $purple: #A993CB;
    $dark-gray: #6c6763;
    
    background-color: #F8F8FF;
    font-family: 'Raleway', sans-serif, bold 700;
    
.gift-cloud-name{
    text-transform: uppercase;
    color: $dark-gray;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    font-family: Raleway;
}    
    
    
.nav-link{
    color: $dark-gray !important;
} 
#about-header-button{
    margin-top: 7px;
    
}
Link:hover{
    color: black;
}
    
position:  sticky;
    z-index: 1500;
    top: 0;

img{
    width: 50px;
    border-radius: 50%;
}

.ul.li{
    display: inline-block;
}

.addGift, .findFriends{
    padding-top: 15px;   
}
.dropdown-toggle{
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-item{
   color: $dark-gray; 
}

.dropdown-menu{ 
    position: absolute;
    // display: none;
    // width: 200%;
    overflow: auto;
    z-index: 1;
    // overflow-x: hidden;
    // overflow-y: auto;
    // padding: 0 12px 12px;
    left:-86px;
i{
    padding-right: 10px;
} 

}
.right {
    right: 0;
}

}