@import '~bootstrap/scss/bootstrap.scss';

.header-account{
<<<<<<< HEAD
position:  sticky;
    z-index: 1500;
    top: 0;

=======
    background-color: purple;
    
>>>>>>> d2df3c63ec93ef34fa087c05d843d4d3e110c680
img{
    width: 40px;
    border-radius: 50%;
}

.notification-icon{
    width: 25px;
    padding-top: 15px;
}

.ul.li{
    display: inline-block;
}

.addGift, .findFriends{
    padding-top: 15px;   
}
.dropdown-toggle{
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}
}