.profile-body{
    
    $text-color: #a6a4a2;
    $purple: #A993CB;
    $dark-gray: #6c6763;

    font-family: 'Raleway', sans-serif, bold 700;
    margin: auto;
    
    
    .profile-image{
        width: 70px;    
    }  
    
    .display-name{
        
    }
    
    
    
    
}