.sign-up-form{
    
$text-color: #a6a4a2;
$purple: #A993CB;
$dark-gray: #6c6763;   

    background-size: cover;
    font: 13px/23px 'Raleway', sans-serif;
    color: $text-color;
    padding: 40px 0;
    
    max-width: 500px!important;
    min-height: 100%;
    margin-bottom: -50px;
    margin: auto;
    

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    margin: 0 auto;
    width: 500px;
    background: white;
    border-radius: 10%;
    border: 5px solid rgba(245,245,245, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
} 

.header{
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
    color: $purple;
    text-transform: uppercase;
}  


.fb {
    background-color: #3B5998;
    color: white;
    text-align: center;
    margin-left: 60px;
    width: 75%;
    margin-bottom: 10px;
    
    i {
        padding-right: 10px;
    }
    
}

.google {
    background-color: #dd4b39;
    color: white;
    text-align: center;
    margin-left: 60px;
    width: 75%;
    margin-bottom: 10px;
    
    i {
        padding-right: 10px;
    }
}

//  .sign-up-btn{
//     color: $purple;
//     text-transform: uppercase;
//     margin: auto;
// }

.btn {
    display: block;
}
.social-disclaimer{
    text-align: center;
} 
  
// input {
//   outline: none;
//   display: block;
//   width: 75%;
//   border: 1px solid darken(white, 15%);
//   border: none;
//   border-radius: 3px;
//   background: #f7f6f5;
//   margin: 20px auto;
//   padding: 18px 15px;   
// } 
.sign-up-with-email-btn{
    width: 75%;
    display: block;
    margin: auto;
    text-align: center;
}
.sign-up-btn{
    // text-align: center;
    margin: auto;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    background: linear-gradient(#af96d4, #9b88b9);
    cursor: pointer;
    padding: 13px 20px;
    text-transform: uppercase;
}  

.center-align{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
.content-divider, hr{
    width: 75%;
}

.login-link{
    padding-left: 10px;
    color: $dark-gray;
}

.forgot-password{
    padding-right: 10px;
    color: $dark-gray;
}
forgot-password:hover, login-link:hover{
    text-decoration: underline;
    color: lighten($dark-gray, 5%);
}
  
::-webkit-input-placeholder {
  font-size: 13px;
}

::-moz-placeholder {
  font-size: 13px;
}   


}